#########################################
# IntelliJ IDEA
#########################################

.idea/
*.iml
out/

#########################################
# Maven
#########################################

target/

#########################################
# Logs
#########################################

*.log
logs/

#########################################
# OS Files
#########################################

.DS_Store
Thumbs.db

#########################################
# Environment Variables
#########################################

.env

#########################################
# Spring Boot Local Configuration
#########################################

application-local.yml

#########################################
# VS Code (Optional)
#########################################

.vscode/